.root {
    -fx-background-color: #3F3F3F;
}

.menu-bar {
    -fx-background-color: #3F3F3F;
}

.menu {
    -fx-background-color: #6A6A6A;
    -fx-background-radius: 5px;
}

#workspace {
    -fx-background-color: #1E1E1E;
}

.scroll-pane {
    -fx-background-color: #1E1E1E;
}

.scroll-bar {
    -fx-background-color: #3F3F3F;
    -fx-background-radius: 10px;
}